.nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #8e1dff;
}

.logo{}

.links{}

.usernme::first-letter{
  text-transform: uppercase;
}

.link{
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
}
